.DS_Store
.env
.env.*
!.env.example

node_modules/
npm-debug.log
yarn-error.log

storage/app/private/*
!storage/app/private/.gitkeep
storage/app/public/*
!storage/app/public/.gitkeep
storage/framework/cache/data/*
!storage/framework/cache/data/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/fonts/*
!storage/fonts/.gitkeep
storage/app/dompdf-temp/*
!storage/app/dompdf-temp/.gitkeep

public/uploads/*
!public/uploads/branding/
!public/uploads/branding/*

bootstrap/cache/*.php

deploy_*
*.zip

.phpunit.cache/
coverage/
